<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="commonHead/commHead :: commonHead">
</head>
<head>
    <meta charset="UTF-8">
    <title>时间线</title>
</head>
<body>
<div class="layui-layout layui-layout-admin">
    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll" th:replace="common/left ::left"></div>
    </div>
<div class="layui-footer" th:replace="common/foot :: foot">
    © >>>>>>
</div>
<div class="layui-header" th:replace="common/header :: header"></div>
 <div class="layui-body" style="margin: 20px">
        <!-- 内容主体区域 -->
     <ul class="layui-timeline">
         <li class="layui-timeline-item">
             <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
             <div class="layui-timeline-content layui-text">
                 <h3 class="layui-timeline-title">2020年10月27号</h3>
                 <p>
                     <em>配置了角色拦截器</em>
                     <br>
                 </p>
             </div>
         </li>
         <li class="layui-timeline-item">
             <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
             <div class="layui-timeline-content layui-text">
                 <h3 class="layui-timeline-title">2020年10月26号</h3>
                 <p>
                     <em>完成了header动态显示用户</em>
                     <br>
                 </p>
             </div>
         </li>
         <li class="layui-timeline-item">
             <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
             <div class="layui-timeline-content layui-text">
                 <h3 class="layui-timeline-title">2020年10月20号</h3>
                 <p>
                     <em>完成了控制用户登录</em>
                     <br>同一个账号不能同时登录
                 </p>
             </div>
         </li>
         <li class="layui-timeline-item">
             <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
             <div class="layui-timeline-content layui-text">
                 <h3 class="layui-timeline-title">2020年10月9号</h3>
                 <p><em>完善基本权限</em><!--<em>致君尧舜上，再使风俗淳</em>：-->
                     <br>前台实现不同角色控制界面显示
                     <br> 后端实现不同角色请求控制
                 </p>
             </div>
         </li>
         <li class="layui-timeline-item">
             <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
             <div class="layui-timeline-content layui-text">
                 <h3 class="layui-timeline-title">2020年09月28号</h3>
                 <p>
                     <em>实现图标</em>
                     <br>解决本地图标使用失败(.woff等文件损坏)
                     <br>左侧菜单图标
                     <br>顶部椰子树图标
                     <br>header菜单图标
                 </p>
             </div>
         </li>
         <li class="layui-timeline-item">
             <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
             <div class="layui-timeline-content layui-text">
                 <div class="layui-timeline-title">过去</div>
             </div>
         </li>
     </ul>
</div>
</div>
</body>
<script th:src="@{/com/shelf/demo/home/home.js}"></script>
</html>